.feynman {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    padding-top: 100px;
    min-height: 890px;
    background-color: #f2f2f2;
  }